<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/edit_post_style.css">
        <link rel="stylesheet" href="/css/header.css">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>

    <body>

        <div id="header">
            <div id="logodiv">
                <a href="homelog.html"><img id="logo-editpost" src="/css/assets/logo4.png"></a>
            </div>
            <div id="searchbar">
    
            </div>
            <div id="headerbuttons">
    
            </div>
        </div>

        <form action="/users/editcomment/<%= comment._id %>?_method=PUT" class="contents" method="POST">
            <div class="user">
                <img class="userpfp" src="<%= user.image %>"/>
                <div class="username"><%= comment.author %></div>
            </div>
    
            <div class="post-content">
                <textarea name="comment_body" type="text" id="title" class="title"><%= comment.body %></textarea>
            </div>
    
            <div>
                <a href="/users/editcomment/upvote/<%= comment._id %>">Upvote</a>
                <a href="/users/editcomment/downvote/<%= comment._id %>">Downvote</a>
            </div>

            <input id="save" class="save-edit" type="submit" value="Save Edits"/>
        </form>
        <form action="/users/editcomment/<%= comment._id %>?_method=DELETE" method="POST">
            <input id="delete-comment" class="save-edit" type="submit" value="Delete Comment"/>
        </form>

        
    </body>
</html>