<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link rel="stylesheet" href="/css/settstyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
</head>
<body>
    <div id="header" class="width100 mp0 autocenter greenbg">
        <div id="logodiv" class="mp0 autocenter">
            <a href=""><img class="width100" id="logo" src="/css/assets/logo4.png"></a>
        </div>
        <div class="searchbarcontainer autocenter">
            <div class="searchbuttoncontainer">
            </div>
        </div>
        <div id="headerbuttons" class="mp0">
        </div>
    </div> 
    <div id="body">
        <form action="/users/settings/<%= findUser._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div id="leftpane">
                <div id="profile">
                    <div id="dp">
                        <label for="input-file" id="imagechange">
                            <img id="dpimg" src="<%= findUser.image %>">
                        </label>
                        <input name="image" type="file" accept="image/jpeg, image/png, image/jpg" id="input-file">
                    </div>
                </div>
                <input class="settingsbuttons" id="submit-profilepic" type="submit">
            </div>
        </form>
        <div class="rightpane" id="profilerightpane1">
            <table id="profiletable">
                <form action="/users/settings/<%= findUser._id %>?_method=PUT" method="POST">
                    <tr>
                        <td><p class="profilesettinglabel">Lastname</p></td>
                        <td><input style="width: 400px" name="lastname" class="profileinputs" type="text" placeholder="<%= findUser.lastname  %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Firstname</p></td>
                        <td><input style="width: 400px" name="firstname" class="profileinputs" type="text" placeholder="<%= findUser.firstname %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Username</p></td>
                        <td><input style="width: 400px" name="username" class="profileinputs" type="text" placeholder="<%= findUser.username %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Email</p></td>
                        <td><input style="width: 400px" name="email" class="profileinputs" type="text" placeholder="<%= findUser.email %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Mobile Number</p></td>
                        <td><input style="width: 400px" name="mobilenumber" class="profileinputs" type="text" placeholder="<%= findUser.mobilenumber %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Bio</p></td>
                        <td><input style="width: 400px" name="bio" class="profileinputs" type="text" placeholder="<%= findUser.bio %>"></td>
                    </tr>
                    <tr>
                        <td><p class="profilesettinglabel">Password</p></td>
                        <td><input style="width: 400px" name="password" class="profileinputs" type="text" placeholder="Enter new password"></td>
                    </tr>

                    <div id="save-settings-button">
                        <button type="submit" class="settingsbuttons" id="sb4">Save Edits</button>
                    </div>
                </form>
                <form action="/users/settings/<%= findUser._id %>?_method=DELETE" method="POST">
                    <div id="delete-settings-button">
                        <button class="settingsbuttons" id="sb5" type="submit">Delete User</button>
                    </div>
                </form>    
            </table>
        </div>
    </div>
</body>
</html>